@import '@unocss/reset/tailwind.css';
@import 'd3-graph-controller/default.css';

html {
  height: 100vh;
  height: 100dvh;
  font-family: 'Readex Pro', sans-serif;
}

body,
#__nuxt {
  height: 100%;
}

:root {
  --green: #22c55e;
}
