@import '@unocss/reset/tailwind.css';
@import 'd3-graph-controller/default.css';

html,
body,
#__nuxt {
  min-height: 100vh;
  min-height: 100dvh;
  font-family: 'Readex Pro', sans-serif;
}

:root {
  --green: #10b981;
}
