{
  "root": true,
  "env": {
    "node": true
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-recommended"
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "rules": {
    "vue/max-attributes-per-line": "off"
  },
  "overrides": [
    {
      "files": ["test/**/*.{j,t}s?(x)"],
      "env": {
        "jest": true
      }
    }
  ],
  "globals": {
    "defineProps": "readonly",
    "defineEmits": "readonly",
    "withDefaults": "readonly"
  }
}
