{
  "extends": ["@yeger"],
  "rules": {
    "vue/custom-event-name-casing": "off",
    "vue/require-explicit-emits": "off"
  },
  "overrides": [
    {
      "files": ["docs/vecti-docs/**/*"],
      "rules": {
        "no-console": "off"
      }
    }
  ]
}
