# Project files
.DS_Store
.turbo
build
coverage
dist
node_modules
vite.config.ts.timestamp-*

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode/*
!.vscode/settings.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel

# Next.js
next-env.d.ts
*.tsbuildinfo
.next/
/out/

# vercel
.vercel
