public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*nuxt*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*vitest*
public-hoist-pattern[]=*vue*
public-hoist-pattern[]=defu
public-hoist-pattern[]=next
public-hoist-pattern[]=publint
public-hoist-pattern[]=ufo
