{
  "rules": {
    "@typescript-eslint/consistent-type-imports": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "import/first": "off",
    "no-console": "off",
    "unused-imports/no-unused-vars": "off"
  }
}
