@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant hocus (&:where(:hover, :focus-visible));

@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(0 0% 4.9%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(0 0% 4.9%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(0 0% 4.9%);

    --primary: hsl(0 0% 11.2%);
    --primary-foreground: hsl(0 0% 98%);

    --secondary: hsl(0 0% 96.1%);
    --secondary-foreground: hsl(0 0% 11.2%);

    --muted: hsl(0 0% 96.1%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);

    --accent: hsl(0 0% 96.1%);
    --accent-foreground: hsl(0 0% 11.2%);

    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 0% 98%);

    --border: hsl(214.3 31.8% 91.4%);
    --input: hsl(214.3 31.8% 91.4%);
    --ring: hsl(0 0% 4.9%);

    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(0 0% 0%);
    --foreground: hsl(0 0% 98%);

    --card: hsl(0 0% 4.9%);
    --card-foreground: hsl(0 0% 98%);

    --popover: hsl(0 0% 4.9%);
    --popover-foreground: hsl(0 0% 98%);

    --primary: hsl(0 0% 98%);
    --primary-foreground: hsl(0 0% 11.2%);

    --secondary: hsl(0 0% 17.5%);
    --secondary-foreground: hsl(0 0% 98%);

    --muted: hsl(0 0% 17.5%);
    --muted-foreground: hsl(0 0% 65.1%);

    --accent: hsl(0 0% 17.5%);
    --accent-foreground: hsl(0 0% 98%);

    --destructive: hsl(0 0% 30.6%);
    --destructive-foreground: hsl(0 0% 98%);

    --border: hsl(0 0% 17.5%);
    --input: hsl(0 0% 17.5%);
    --ring: hsl(212.7, 0%, 83.9%);
  }

  body {
    @apply bg-(--background) text-(--foreground);
    --sidebar-width: 20rem;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  *:focus-visible {
    @apply outline-none ring-2 ring-(--ring);
  }
}

.react-flow__edge {
  pointer-events: none !important;
}

.react-flow__controls button {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--foreground);
  border-bottom: none;
}

.react-flow__controls button:hover {
  background-color: var(--secondary);
}

.react-flow__controls button:first-child {
  border-radius: 5px 5px 0 0;
}

.react-flow__controls button:last-child {
  border-bottom: 1px solid var(--foreground);
  border-radius: 0 0 5px 5px;
}

.react-flow__controls button path {
  fill: var(--foreground);
}

.react-flow__controls button:disabled path {
  fill: var(--muted-foreground);
}

.react-flow__attribution {
  background: var(--background) !important;
}

.react-flow__attribution a {
  color: var(--muted-foreground) !important;
}

.react-flow__minimap {
  background: var(--background) !important;
}

.task-node::before {
  content: '';
  position: absolute;
  inset: -2px;
  border-radius: inherit;
  background: linear-gradient(130deg, #ff1e56, #cd3678, #8657a7, #0196ff, #3f79d5);
  filter: blur(3px);
  z-index: -1;
  opacity: 0.5;
}
