html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body,
#__next {
  width: 100vw;
  height: 100vh;
}

.bg-dotted {
  --color-dots: #eeee;
  --dot-size: 1rem;
  background: -moz-radial-gradient(var(--color-dots) 15%, transparent 16%),
    -moz-radial-gradient(var(--color-dots) 15%, transparent 16%), black;
  background: -webkit-radial-gradient(var(--color-dots) 15%, transparent 16%),
    -webkit-radial-gradient(var(--color-dots) 15%, transparent 16%), black;

  -webkit-background-size: var(--dot-size) var(--dot-size);
  -moz-background-size: var(--dot-size) var(--dot-size);
  background-size: var(--dot-size) var(--dot-size);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.node__label {
  transform: translateY(-1.5rem);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
