name: CI

on: [pull_request, push, workflow_dispatch]

jobs:
  prepare:
    name: Prepare
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        uses: DerYeger/pnpm-setup-action@master
        with:
          node-version: 16
  build:
    name: Build
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - name: Setup
        uses: DerYeger/pnpm-setup-action@master
        with:
          node-version: 16
      - name: Build
        run: pnpm turbo build typecheck --filter=@yeger/vue-masonry-wall
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: dist
      - name: Build demo
        run: pnpm turbo build typecheck --filter=demo
  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - name: Setup
        uses: DerYeger/pnpm-setup-action@master
        with:
          node-version: 16
      - name: Lint
        run: pnpm turbo lint
  test:
    name: Test
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - name: Setup
        uses: DerYeger/pnpm-setup-action@master
        with:
          node-version: 16
      - name: Test
        run: pnpm turbo test:coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [build, lint, test]
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    steps:
      - name: Setup
        uses: DerYeger/pnpm-setup-action@master
        with:
          node-version: 16
      - name: Download
        uses: actions/download-artifact@v3
        with:
          name: dist
          path: dist
      - name: Semantic release
        uses: cycjimmy/semantic-release-action@v3.2.0
        with:
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
